.single-post-container {
	background-color: #ffffff;
	margin: 0 2rem;
}

.single-post-category {
	color: var(--link-color);
}

.single-post-title {
	margin: 0;
	padding-bottom: 1rem;
	border-bottom: 0.05rem solid lightgray;
}

.single-post-content {
	margin: 2rem 0 5rem 0;
	letter-spacing: 0.05rem;
	line-height: 1.2rem;
	text-align: center;
}

.single-post-date {
	padding-bottom: 1rem;
	border-bottom: 0.05rem solid lightgray;
}

.comments-list {
	list-style-type: none;
}

.single-comment-header {
	border-bottom: 0.02rem solid lightgray;
}

.single-comment-container {
	padding: 1rem;
	margin: 0.2rem 1rem 0.2rem 0;
	border: 0.05rem solid lightgray;
	border-radius: 0.05rem;
}

.single-comment-message {
	margin-top: 0.5rem;
}

.reply-label {
	font-size: 0.8rem;
	color: rgb(0, 0, 128);
	text-decoration: underline;
	cursor: pointer;
}

.reply-div {
	margin-top: 1rem;
}

.comment-form-message {
	width: 80%;
	margin: 0 auto;
	display: block;
	height: 5rem;
	resize: none;
}

.indent-comment {
	margin-left: 2rem;
}

.sidebar-single-tag {
	display: inline-block;
	color: var(--link-color);
	padding: 0.2rem;
	border: 1px solid var(--link-color);
	margin: 0.2rem;
	text-decoration: none;
}
.widget-title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 0.9rem;
	margin: 1rem 1rem 0 0;
}

.widget-title:before,
.widget-title:after {
	content: "";
	border-top: 2px solid;
	margin: 0 20px 0 0;
	flex: 1 0 20px;
	color: #ccc;
}
.widget-title:after {
	margin: 0 0 0 20px;
}

.small-text {
	font-size: 0.7rem;
	margin: 0.2rem 0 0 1rem;
	font-weight: 700;
	color: var(--meta-data-color);
}
