.blog-item-container {
	width: 90%;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: 2rem auto;
}

.post-img-section {
	height: 15rem;
}

.post-image {
	width: 100%;
	max-height: 15rem;
	object-fit: cover;
}

.post-info-section {
	padding: 0 1rem;
}

.post-title {
	margin: 0;
	padding-top: 0.5rem;
}

.post-description {
	margin: 0.5rem 0;
	height: 9rem;
}

@media screen and (min-width: 767px) {
	.blog-item-container {
		flex-direction: row;
	}
	.post-img-section {
		min-width: 15rem;
		width: 40%;
	}
	.post-image {
		object-fit: cover;
		height: 100%;
	}

	.post-info-section {
		flex-grow: 1;
	}
}
